{
  "extends": "airbnb-base/legacy",
  "rules": {
    "no-console": 0,
    "func-names": 0,
    "vars-on-top": 0,
    "no-underscore-dangle": ["error", {
      "allow": [
        '_onError',
        '_callback',
        '_sendRequest'
      ]
    }],
    "space-before-function-paren": ["error", "never"]
  }
}
